.main__content {
    width: 100%;
    background: rgba(206, 183, 173, 0.6);
    padding: 20px 10px;
    margin: 20px 0;
}


.wrapper__project {
    background: rgba(206, 183, 173, 0.6);
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    padding: 7px;
}

.project__title {
    font-family: "borel";
    font-size: 5vh;
    color: rgb(0, 0, 0);
}

.project__txt {
    font-size: 20px;
    color: rgb(44, 25, 9);
    font-weight: 600;
}

.project__btn {
    max-width: 200px;
    width: 100%;
    background: rgb(255, 255, 255);
    border-radius: 6px;
    padding: 12px 5px ;
    overflow: hidden;
    color: rgb(34, 30, 30);
    font-size: 20px;
    transition: 0.4s;
    display: flex;
    font-weight: 600;
}

.project__btn:hover {
    transform: scale(1.2);
}



.box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.icons {
    transition: 0.4s;
}

.project__btn:hover .icons {
    transform: translateX(100px);

}

.main__content-txt {
    font-size: 18px;
    font-weight: 600;
}

.main__content-title {
    font-size: 30px;
    align-items: center;
    padding: 10px 0;
}

.aboutme__btn {
    display: flex;
    padding: 10px 20px ;
    color: rgb(196, 149, 129);
    background: rgb(77, 38, 6);
    border-radius: 6px;
    justify-content: center;
    margin: 20px 0;
    transition: 0.4s;
}

.aboutme__btn:hover  {
    transform: scaleY(1.2);
    font-size: 18px;
}


.project {
    margin: 20px 0;
}

.bg2 {
    top: 60%;
    left: 60%;
    transform: rotate(40deg);
}
